<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/style2.css" />
    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <title>{{ .Artist.Name }}</title>
  </head>

  <body>
    <div class="back">
      <button onclick="window.location.href='/'">
        Go back to the list of artists
      </button>
    </div>

    <h1>{{ .Artist.Name }} ({{ .Artist.CreationDate }})</h1>

    <div class="Image">
      <img
        src="{{ .Artist.Image }}"
        alt="{{ .Artist.Name }}"
        class="artist-image"
      />
    </div>

    <div class="container">
      <div class="info-boxes">
        <div class="box">
          <h2>Artist Information</h2>
          <p>Members: {{ range .Artist.Members }}{{ . }}, {{ end }}</p>
          <p>First Album: {{ .Artist.FirstAlbum }}</p>
        </div>
        <div class="box relations">
          <h2>Concerts</h2>
          {{ range $location, $dates := .Relations.DatesLocations }}
          <h3>{{ $location }}</h3>
          <ul>
            {{ range $dates }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
      <div id="map"></div>
    </div>

    <script>
      var artistLocationsData = "{{.ArtistLocations | json}}";
      var artistLocations = JSON.parse(artistLocationsData);

      const apiKey = "afy477pupz9Br1w5nYeD";

      const dataUrl =
        "https://api.maptiler.com/data/0c05ffa7-79de-426b-85c3-ce472ed79cbb/features.json?key=" +
        apiKey;

      const map = new maplibregl.Map({
        container: "map",
        style:
          "https://api.maptiler.com/maps/streets-v2-dark/style.json?key=" +
          apiKey,
        center: [13.2, 44.2],
        zoom: 0.83,
        hash: true,
      });

      map.on("load", function () {
        fetch(dataUrl)
          .then((response) => response.json())
          .then((data) => {
            const filteredFeatures = data.features.filter((feature) =>
              artistLocations.includes(feature.properties.name)
            );

            map.addSource("points", {
              type: "geojson",
              data: {
                type: "FeatureCollection",
                features: filteredFeatures,
              },
            });

            map.addLayer({
              id: "points",
              type: "circle",
              source: "points",
              paint: {
                "circle-radius": 4,
                "circle-color": "#FF0000",
                "circle-stroke-width": 2.5,
              },
            });

            // Ajouter les coordonnées pour la polyline
            const coordinates = filteredFeatures.map(
              (feature) => feature.geometry.coordinates
            );

            // Ajouter la source pour la polyline
            map.addSource("route", {
              type: "geojson",
              data: {
                type: "Feature",
                geometry: {
                  type: "LineString",
                  coordinates: coordinates,
                },
              },
            });

            // Ajouter la couche pour dessiner la polyline
            /*     map.addLayer({
                        id: 'route',
                        type: 'line',
                        source: 'route',
                        layout: {
                            'line-join': 'bevel',
                            'line-cap': 'square'
                        },
                        paint: {
                            'line-color': '#00FF00',
                            'line-width': 2
                        }
                    });*/
          });
      });

      map.on("error", function (err) {
        console.error("An error occurred:", err);
      });
    </script>
  </body>
</html>
